.section--hero-card {
  align-items: center;
  background: repeating-radial-gradient(black, transparent  90px);
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1vh 1vh;
  max-width: 160px;
}

.div--view-more-btn {
  border-radius: 20px;
  background-color: black;
  height: 20px;
  margin-bottom: 1vh;
  text-align: center;
  width: 70%;
}

.link--view-more-btn {
  text-decoration: none;
  color: white;
}